<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSI Data Visualization</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div id="plotly-div" style="width: 100%; height: 100%;"></div>
<script>
    var colorMap = {};

    function getRandomColor() {
        // Generate a random color in hexadecimal format (e.g., #RRGGBB)
        return "#" + Math.floor(Math.random() * 16777215).toString(16);
    }

    function getColor(index) {
        if (!colorMap.hasOwnProperty(index)) {
            colorMap[index] = getRandomColor();
        }
        return colorMap[index];
    }

    var dataToShow = [];
    var maxDataPoints = 64; // Maximum number of data points to display
    var currentX = 0; // Current x-axis value

    function fetchDataAndPlot() {
        $.get("/get_data/", function (response) {
            var newData = response.data;

            // Append new data to the existing dataToShow
            dataToShow = dataToShow.concat(newData);

            // If the total data points exceed the maximum limit, remove older data points
            if (dataToShow.length > maxDataPoints) {
                dataToShow = dataToShow.slice(dataToShow.length - maxDataPoints);
            }

            var traces = [];
            var x = [];
            var y = [];

            dataToShow.forEach(function (values, index) {
                // x축 위치를 1부터 데이터의 개수까지 매칭하여 값을 추가합니다.
                var xValue = Array(values.length).fill().map((_, i) => currentX + i + 1);
                x = x.concat(xValue);

                y = y.concat(values);
            });

            currentX = x[x.length - 1]; // Update the current x-axis value

            var trace = {
                x: x,
                y: y,
                type: 'scatter',
                mode: 'markers',
                marker: {
                    color: getColor(1)
                }
            };
            traces.push(trace);

            var layout = {
                xaxis: {
                    title: 'Data Entry Order',
                    dtick: 1
                },
                yaxis: {
                    range: [0, 2000],
                    dtick: 200
                },
            };

            // 차트를 그립니다.
            Plotly.newPlot('plotly-div', traces, layout);
        });
    }

    // 웹 페이지 로드 시 한번 그리기
    fetchDataAndPlot();

    // 0.3초마다 데이터 가져와서 차트 업데이트
    setInterval(fetchDataAndPlot, 300);
</script>
</body>
</html>
